.border {
  margin: 30px;
  padding: 5rem 0rem !important;
  border: 10px solid !important;
  border-image-slice: 1 !important;
  border-width: 5px !important;
  border-image-source: radial-gradient(
    circle at 10% 20%,
    rgb(253, 239, 132) 0%,
    rgb(247, 198, 169) 44%,
    rgb(21, 186, 196) 75%
  ) !important;
}
