.hero {
  max-width: 1580px;
  margin: 0 auto;
}
.container-fluid {
  font-family: "Abyssinica SIL", serif;
}

.current-temp,
.forcast-grid {
  text-align: center;
  padding: 0%;
}
form {
  display: inline-block;
  text-align: center;
  width: 50%;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h6 {
  padding-top: 10px;
}
.mb-3 {
  line-height: 0;
}
button .go-button {
  margin-bottom: 15px;
}
.current-location-button {
  margin-left: 10px;
}

.degree {
  display: block;
  text-align: left;
  font-size: 20px;
  margin-top: 23.75px;
}
.temp-icon {
  display: block;
  text-align: left;
  font-size: 24px;
  margin-top: 23.75px;
}
.current-weather-conditions {
  list-style-type: none;
  font-size: 1rem;
  padding: 0;
  margin-bottom: 0;
  color: rgba(39, 33, 66, 0.4);
}
.current-weather-conditions li {
  display: inline;
  margin: 2px;
}
.current-condition {
  font-size: 20px;
  padding-top: 8px;
}
.current-condition:first-letter {
  text-transform: capitalize;
}

.weather-border {
  float: right;
  width: 1px;
  height: 400px;
  background: linear-gradient(
    180deg,
    #f5f6f6 0,
    #dbdce2 21%,
    #b8bac6 49%,
    #dddfe3 80%,
    #f5f6f6
  );
}
.col-4 {
  padding-left: 71px;
}
.units {
  position: relative;
  top: -15px;
  left: 5px;
  font-size: 15px;
}

a:link {
  text-decoration: none;
}

.units .active:hover {
  text-decoration: none;
  color: black;
}
.open-source {
  font-size: 12px;
  position: relative;
  top: 102px;
}

@media (max-width: 992px) {
  .weather-border {
    display: none;
  }
  .current-temp {
    margin-bottom: 50px;
  }
  .current-location-button {
    display: block;
    margin-top: 10px;
  }
  .forecast-low {
    display: none;
  }
  .grid {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    padding: 0;
    justify-content: center;
  }
}
